# --- Core System and Data ---
pandas==2.3.0
numpy==2.3.5
joblib==1.5.1
PyYAML==6.0.3
requests==2.32.4
python-dotenv==1.2.1
pathlib

# --- Machine Learning Models ---
scikit-learn==1.7.0
xgboost==3.1.2
lightgbm==4.6.0
optuna==4.7.0

# --- Validation and Quality ---
pandera==0.29.0
pydantic==2.12.5

# --- Serving and API ---
fastapi==0.116.0
uvicorn==0.35.0
prometheus-fastapi-instrumentator==7.1.0

# --- MLOps and Tracking ---
mlflow==3.11.1
prefect==3.6.11

# --- Explainability ---
shap==0.50.0
matplotlib==3.10.8

# --- Database ---
psycopg2-binary==2.9.11
SQLAlchemy==2.0.45

# --- Testing and Quality ---
pytest==8.0.0
httpx==0.27.0